/*  Slideshow°° CSS
	2024
	@sacaix
	arnAu bellavista
	www.kipple.net
*/
.slide00{
	position: relative;
	/*
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	*/
	width: 100%;
	height: 100%;
}
.slide00s{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide00s p{
	margin: 20px;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 0 0 6px #000000;
}
.slide00fosEntrada{
	animation-name: fosEntrada;
	animation-duration: 1.5s;
}
@keyframes fosEntrada{
	from{ opacity: 0.1; }
	to{ opacity: 1; }
}
.slide00fosSortida{
	animation-name: fosSortida;
	animation-duration: 1.5s;
}
@keyframes fosSortida{
	from{ opacity: 1; }
	to{ opacity: 0; }
}

.slide00Anterior, .slide00Seguent{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 18%;
	height: 100%;
	padding: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 28px;
	cursor: pointer;
	transition: 0.6s ease;
	user-select: none;
	opacity: 0;
}

.slide00Anterior{
	left: 0;
	background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
.slide00Seguent{
	right: 0;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

.slide00Anterior:hover, .slide00Seguent:hover{
	opacity: 1;
}

.slide00Vmig{
	position: absolute;
	top: 50%;
	padding: 0 20px;
}
.slide00VmigD{
	right: 0;
}


/* Punts de navegació */
.punts{
	position: absolute;
	padding: 0;
	margin: 0 auto;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.punt{
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: #aaaaaa;
	cursor: pointer;
	box-shadow: 0 0 10px 2px #000000;
	opacity: 0.7;
	transition: 0.5s;
}
.puntActiu, .punt:hover {
	background-color: #ffffff;
}

